<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>AutoPlanner</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" type="text/css" id='wporg-style-css'   media='all'  href="{{ url_for('static', filename='css/wp.css') }}" />

  <script type="script/javascript" src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
  <script type="script/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='open-sans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext&#038;display=fallback' type='text/css' media='all' />


</head>



<body id="wordpress-org" class="home page-template-default page page-id-1686 page-home">

	<div id="wporg-header">
	<div class="wrapper">

		<h1><a href="https://ru.wordpress.org/">AutoPlanner</a></h1>
        <div style="clear:both"></div>

		<ul id="wporg-header-menu" class="menu">
          <li id="menu-item-1790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-1686 current_page_item current-menu-item menu-item-1790"><a title="Домашняя страница" href="/" aria-current="page">Main</a></li>
            {% if tvars["fullname"] %}<li id="menu-item-1656" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1656"><a href="/logout">{{tvars["fullname"]}} / logout</a></li>{% endif %}


        </ul><div style="clear:both"></div>
	</div>
    </div>


	<header id="masthead" class="site-header" role="banner">
		<div class="site-branding">
           {% block content %}
           {% endblock %}


		</div><!-- .site-branding -->
	</header><!-- #masthead -->



</body>
</html>